{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<h1 class="mt-4 mb-3">Газети</h1>

<form method="get" class="mb-4">
  <div class="form-row">
    <div class="col">
      {{ search_form|crispy }}
    </div>
    <div class="col-auto">
      <input type="submit" value="🔍 Пошук" class="btn btn-secondary">
    </div>
  </div>
</form>

{% if newspaper_list %}
  <div class="row">
    {% for newspaper in newspaper_list %}
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100 fade-in">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'news:newspaper-detail' pk=newspaper.id %}">
                {{ newspaper.title }}
              </a>
            </h5>
            <p class="card-text">
              Дата публікації: {{ newspaper.published_date }}
            </p>
            <p class="card-text">
              Редактор: {{ newspaper.publisher }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Наразі немає жодної газети у базі даних.</p>
{% endif %}

<div class="pagination-wrapper custom-pagination bg-white py-3 shadow">
  <nav aria-label="pagination">
    <ul class="pagination justify-content-center mb-0">
      {% include "includes/pagination.html" %}
    </ul>
  </nav>
</div>
{% endblock %}
